body {
  height: 100%;
  width: 100%;
}

.input-container {
  display: flex;
}

.lyrics-input {
  background-color: rgb(235, 235, 235);
  margin-left: 24rem;
  width: 29rem;
  height: 20rem;
  margin-top: 10rem;
  border-radius: 35px;
}

h2 {
  color: rgb(0, 0, 0);
  text-align: center;
}

.user-input {
  display: grid;
  justify-content: center;
}

textarea.lyrics-box {
  margin-top: 10px;
  width: 25rem;
  height: 8rem;
  font-size: 20px;
  background-color: rgb(235, 235, 235);
  font-family: 'Permanent Marker', cursive;
}

.crt-btn {
  border-radius: 1rem;
  width: 7rem;
  margin-left: 5rem;
  margin-top: 14px;
  margin-left: 136px;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  background-color: rgb(235, 235, 235);
}
