.card-title {
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f4f4f4;
}

.card-content p {
  overflow: scroll;
  height: 30vh;
  width: 55%;
}
