body {
  background-color: black;
  width: 100%;
  height: 100%;
}

.card-title {
  margin-left: 7px;
  margin-right: 7px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.card-title h1 {
  font-family: 'Rubik Mono One', sans-serif;

  color: #ffffff;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f4f4f4;
}

.card-content p {
  overflow: scroll;
  height: 36vh;
  width: 55%;
  font-size: 30px;
  -webkit-user-modify: read-write-plaintext-only;
  text-align: center;
}

.card-content button {
  display: block;
  margin: 5px auto;
}
